<div class="inner container">
  <div class="title mt-5">
    <h2>ブックマーク一覧</h2>
  </div>

  <div class="form">
    <div class="bookmark-list mt-4">
      <% if @bookmark_list.present? %>
        <% @bookmark_list.each do |post| %>
          <%= post.get_image %>
          <%= post.title %>
          <%= post.introduction %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>