<div>
  <div class="massage">
    <p><b>本当に退会してよろしいですか？</b></p></br>
    <p><b>会員登録情報やブックマーク履歴が閲覧できなくなります。</b></p>
  </div>
  <div>
    <%= link_to "退会しない", customers_my_page_path, class: "btn btn-primary btn-sm" %>
    <%= link_to "退会する", customers_withdrawal_path, method: :patch, data: {confirm: "本当に退会しますか？"}, class: "btn btn-danger btn-sm" %>
  </div>
</div>