<div class="inner">
  <div class="title">
    <h2>スレッド一覧</h2>
  </div>

  <%# レコード（行）に対してリンクを貼りたい %>
  <%# 仮でタイトルにリンクを設定 %>
    <div class="form w-75 d-flex flex-row">
      <%# flexで横並びにする予定 %>
      <% @posts.each do |post| %>
        <div>
          <% if post.image.attached? %>
            <%= image_tag post.image, size: '80x80' %>
          <% else %>
            <%= image_tag "no_image", size: '80x80' %>
          <% end %>
        </div>
        <div>
          <%= "コメントマーク/件数" %></br>
          <%= link_to post.title, post_path(post.id) %>
        </div>
      <% end %>
    </div>

  **ページネーション**
</div>