<div>
  <div class="title mt-4">
    <h2>新規スレッド投稿</h2>
  </div>

  <div class="form">
    <%= render 'post_form', post: @post, url:  post_confirm_path, method: :post, submit: "入力内容確認" %>
  </div>
</div>