<div class="inner">
  <div class="about text-center mt-5">
    <p>ようこそ、トレセツアプリへ！</p>
    <p>
      このアプリは、なりたい姿や理想の姿を手に入れるため、</br>
      トレーニングに関する交流を目的としています。
    </p>
    <p>憧れた体形はありませんか？</p>
    <p>
      人にはそれぞれ異なる体質や、得意・不得意があるため、</br>
      同じことをしても同じ結果が得られるとは限りません。</br>
      これが体質改善を阻害する要因と考えています。
    </p>
    <p>「みんなが同じではない」</p>
    <p>
      これを前提にトレセツアプリでは体験談などを様々な方から投稿いただき、</br>
      ご自身の目で見て、試して、最善の方法を探すお手伝いができればと思い作成しました。</br>
    </p>
    
    
    <!-- 動画投稿機能を実装後に
      <p>
        現役トレーナーが教える参考トレーニングも掲載しております。</br>
        まずは気軽に閲覧・実践いただき、慣れてきたら様々なトレーニングに挑戦しましょう！</br>
      </p>
    -->
  </div>
</div>