<div class="inner">
  <div class="about text-center">
    <p>ようこそ、トレセツアプリへ！</p>
    <p>
      このアプリは、なりたい姿や理想の姿を手に入れるため、</br>
      トレーニングに関する交流を目的としています。
    </p>
    <p>憧れた体形など、一度はありませんか？</p>
    <p>
      人にはそれぞれ異なる体質や、得手・不得手といったものがあるため、</br>
      同じことをしても同じ結果が得られるとは限りません。</br>
      これが体質改善を阻害する要因と考えています。
    </p>
    <p>「みんなが同じではない」</p>
    <p>
      これを前提にトレセツアプリでは体験談などを様々な方から投稿いただき、</br>
      多くの意見をご自身の目で見て、一番あった方法を試していただければと考えています。</br>
    </p>
    <p>
      現役トレーナーが教える参考トレーニングも掲載しております。</br>
      まずは気軽に閲覧・実践いただき、慣れてきたら様々なトレーニングに挑戦しましょう！</br>
    </p>
  </div>
</div>