<div class="inner container col-12">
  <div class="title text-center mt-5 mb-5">

    <p id="notice"><%= flash[:notice] %></p>

    <h2>
      みんなの声で</br>
      理想の姿を手に入れよう
    </h2>
  </div>

  <div class="contents d-flex justify-content-around">
    <a href="/about">
      <div class="card" style="width: 18rem;">
        <svg class="about-card-title" width="100%" height="180" xmlns="no_image.jpg"></svg>
        <div class="about-card-body text-center py-3">
          <h5>初めての方へ</h5>
        </div>
      </div>
    </a>
    <a href="/posts">
      <div class="card" style="width: 18rem;">
        <svg class="posts-card-title" width="100%" height="180" xmlns="no_image.jpg"></svg>
        <div class="posts-card-body text-center py-3">
          <h5>投稿一覧</h5>
        </div>
      </div>
    </a>
  </div>
</div>