<div class="inner container col-12">
  <div class="top-head text-center mt-5">
    <h2>
      みんなの声で</br>
      理想の姿を手に入れよう
    </h2>
  </div>

  <div class="top-body">
    <div class="post-list">
      新着スレッドを10件くらい表示
    </div>
  </div>
</div>