<div>
  <div class="title">
    <h2>検索タグ一覧・追加</h2>
  </div>

  <%# タグ新規投稿 %>
  <div class="form">
    <%= render 'tag_form', tag: @tag, url: admin_tags_path, method: :post, submit: "新規登録" %>
  </div>

  <%# タグ一覧 %>
  <div>
    <table>
      <thead>
        <tr>
          <th colspan="2">登録タグ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.name%></td>
            <td><%= link_to "編集", edit_admin_tag_path(tag.id), class: "btn btn-success btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>