<div class="inner">
  <div clas="title">
    <h2>スレッド一覧</h2>
  </div>

  <div class="form">
    <div class="info">
      ページネーション
      検索フォーム
    </div>

    <table>
      <thead>
        <tr>
          <th>投稿日時</th>
          <th>投稿ユーザー</th>
          <th>タイトル</th>
          <th>コメント数</th>
        </tr>
      </thead>

      <% @posts.each do |post| %>
        <tbody>
          <tr>
            <td><%= l post.created_at %></td>
            <td><%= post.customer.user_name %></td>
            <td><%= link_to post.title, admin_post_path(post.id) %></td>
            <td>"スレッド内のコメント数"</td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>