/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

.navbar {
  background-color: #BFC5D5;
}

.about-card-title {
  background-color: #eaffff;
}

.posts-card-title {
  background-color: #eaeaff;
}

.post-introduction {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination{
justify-content: center;
}

.page{
  margin: 0px 7px 0px 7px;
  width: 5px;
  padding-left: 3px;
}

.next , .last, .first, .prev{
  padding-left: 7px;
}

footer {
  background-color: #BFC5D5;
}

