<% if model.errors.any? %>
  <div id="error_explanation">
    <h3><%= model.errors.count %>件のエラーにより保存できませんでした</h3>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>